
{% extends 'base.html' %}

{% block  content%}


<style>
  .back {
    background: #458bad;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .div-center {
    width: 570px;
    height: 400px;
    background-color: #101827;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-radius: 25px;
    display: table;
  }
  
  div.content {
    display: table-cell;
    vertical-align: middle;
  }
</style>

<div class="back">

{% if form.errors %}

<div class="container">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      There was some error with your form. Please check the fields below.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div> 
{% endif %}
  
  
  <div class="div-center">

    <div class="content">


      <h3 class="text-white" >Change Password</h3>
      <hr />
      <form  action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <div class="text-white">
        {{ form.as_p }}
       </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Change">
        <hr />

      </form>

    </div>


  </div>
</div>

{% endblock  %}
