{% extends "admin/base_site.html" %}
{% load static i18n %}

{# Setup favicon #}
{% block extrahead %}<link rel="shortcut icon" type="image/png" href="{% static 'IMS_logo.png' %}"/>{% endblock %}

{# Setup branding #}
{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'IMS_logo.png' %}" alt="IMS" height="50%" width="50%">
            <br><br>
            <span style="color: white;"> {% trans "Inventory Management System"  %} </span>
        </a>
    </h1>
{% block navigation %}
<div style="padding-top: 20px;">
    <ul class="navigation" style="float: left;">
      <li class="custom-li" style="list-style: none; float: left;"><a href="{% url 'report' %}" style="color: lightgray !important;">
        Report Dashboard</a></li>
    </ul>
  </div>
{% endblock %}
{% endblock %}