{% extends 'base.html' %} {% block content%}
<div class="back">
  <div class="container">
    {% if form.errors %}

    <div class="container">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        There was some error with your form. Please check the fields below.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="app-content">
  <div class="app-content-header">
    <h1 class="app-content-headerText">Ticket Creation</h1>
  </div>

  <div class="div-center" style="padding-top: 50px">
    <div class="content">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="text-white">{{ form.as_p }}</div>

        <br />
        <input type="submit" class="btn btn-primary" value="Create Ticket" />
      </form>
    </div>
  </div>
</div>

<script>
  (() => {
    const se = document.getElementById("id_department");
    se.value = "";
  })();
</script>
{% endblock %}
